
<div class="menu_haut">
  <ul>
    <li><a href="/vip">VIPS</a></li>
    <li class="traitVertical"><a href="/photo">PHOTO</a></li>
  </ul>
</div>
<div id="contenu">
    <br/>
    <br/>
    <div style="width: 100%; display:flex;">
        <div id='menu_admin_vip' style="width: 20%;">
            <div style='width:100%;width:50%;border-radius:1em 1em 0em 0em; border:1px solid black; background-color:black'>
                <img src="/images/vips.png" alt="VIPs" />
            </div>
            <div style="width:50%;border:1px solid white;background-color:black;height:3.5em;display:flex;align-items:center; justify-content:center;">
                    <a href='/ajoutVip' style='color:white; text-decoration:underline;'>AJOUTER</a>
            </div> 
            <div style="width:50%;border:1px solid white;background-color:black;height:3.5em;display:flex;align-items:center; justify-content:center;">
                    <a href='/modifVip' style='color:white; text-decoration:underline;'>MODIFIER</a>
            </div>
            <div style="width:50%;border:1px solid white;background-color:black;height:3.5em;display:flex;align-items:center; justify-content:center;">
                    <a href='/suppVip' style='color:white; text-decoration:underline;'>SUPPRIMER</a>
            </div>  

        </div>

        {{#if vips}}
            <fieldset style='width:80%'>
                <legend style="text-align: left;">Supprimer VIPs</legend>
                        <form action="/suppVip" method="POST">
                            <label for='vip_choix'>Choix du vip : </label>
                                <select name="vip_choix">
                                    {{#each vips}}
                                        <option value="{{this.VIP_NUMERO}}">{{this.VIP_NOM}} {{this.VIP_PRENOM}}</option>
                                    {{/each}}
                                </select>
                            <input type="submit" value='Modifer'>
                        </form>
            </fieldset>
        {{/if}}
    </div>  
</div>